{{#if user}}
      <p>
        Hello {{user.displayName}}

        <a href="/profile">View your profile</a>
        <a href="/logout">Logout</a>
      </p>
    {{else}}
      <p>
        <a href="/login">Login</a>
      </p>
    {{/if}}
